{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Trang chủ - Jewelry Store{% endblock %}
{% block content %}
<script>
    window.initialData = {
      products: JSON.parse('{{ san_pham_json|safe }}'),
      isAuthenticated: {{ user.is_authenticated|yesno:"true,false" }},
    };
  </script>
        <header>
            {% csrf_token %}
            <div class="brand-introduction" style="background-image: url('/static/images/Jewelry-Images/background.jpg');">
                <div class="introduction-content">
                    <h2>Khám Phá Vẻ Đẹp Vĩnh Cửu Tại UTH Jewelry Store</h2>
                    <p>Tại UTH Jewelry Store, chúng tôi tự hào là điểm đến đáng
                        tin cậy cho những ai tìm kiếm sự thanh lịch và tinh tế
                        trong từng món đồ trang sức. Với đội ngũ nghệ nhân tay
                        nghề cao và nhiều năm kinh nghiệm, chúng tôi tự hào tạo
                        ra những thiết kế vượt thời gian, nắm bắt được bản chất
                        của vẻ đẹp và sự sang trọng.</p>
                    <div class="introduction-highlights">
                        <div class="highlight-item">
                            <i class="fas fa-gem" style="color: #ffffff;"></i>
                            <span style="color: #ffffff;">Nguyên Liệu Cao
                                Cấp</span>
                        </div>
                        <div class="highlight-item">
                            <i class="fas fa-hands-holding"
                                style="color: #ffffff;"></i>
                            <span style="color: #ffffff;">Thủ Công Tinh
                                Xảo</span>
                        </div>
                        <div class="highlight-item">
                            <i class="fas fa-certificate"
                                style="color: #ffffff;"></i>
                            <span style="color: #ffffff;">Chất Lượng Quốc
                                Tế</span>
                        </div>
                    </div>
                    <a href="#products-section" class="cta-button"><b>Khám Phá
                            Bộ Sưu
                            Tập</b></a>
                </div>
            </div>
        </header>
        <div class="product-container">
        <section id="products-section">
            <div class="section-header">
            <h2 class="section-title">Sản phẩm</h2>
            </div>
            <div class="product-grid">
                {% for san_pham in san_pham_list %}
                <div class="product-preview">
                  <img class="thumbnail" src="{{san_pham.ImageURL}}" alt="{{ san_pham.ten_sp }}">
                  <div class="product-info">
                    <h3 class="product-title">{{ san_pham.ten_sp }}</h3>
                    <p class="product-stats">Mã sản phẩm: {{ san_pham.ma_sp }}</p>
                    <p class="product-stats">Trọng lượng: {{ san_pham.trong_luong }}g</p>
                    <p class="product-stats">Giá bán: {{ san_pham.gia_ban|floatformat:0|intcomma}} VNĐ</p>
                    <p class="product-stats">Đá quý: 
                      {% for chitiet in san_pham.chitietda_set.all %}
                        {{ chitiet.da.ten_da }} ({{ chitiet.so_luong }} viên)
                        {% if chitiet.da.mau_sac %}- {{ chitiet.da.mau_sac }}{% endif %}
                        {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </p>
                    <button class="add-to-cart-btn" 
                    data-product-id="{{ san_pham.ma_sp }}"
                    data-product-name="{{ san_pham.ten_sp }}"
                    data-product-price="{{ san_pham.gia_ban }}">
                        <i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng
                    </button>
                  </div>
                </div>
                {% endfor %}
              </div>
        </div>
        </section>
            <div class="customer-reviews" id="customer-reviews">
                <h2 class="section-title">Đánh giá từ khách hàng</h2>
                <div class="reviews-container">
                    <div class="review-card">
                        <div class="reviewer-info">
                            <img
                                src="{% static 'images/Jewelry-Images/customers/brown-cat-with-big-eyes-from-tiktok-v0-5e7qti5qejec1.jpg' %}"
                                alt="Customer"
                                class="reviewer-avatar">
                            <div class="reviewer-details">
                                <h4>Nguyễn Thị Anh</h4>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <p
                            class="review-text">"Trang sức ở đây xịn xò, nhìn mê chữ ê kéo dài luôn! 💍✨ Dịch vụ khách hàng đỉnh của chóp, tận tâm khỏi bàn, đẹp xỉu luôn ấy! "</p>
                        <span class="review-date">01/01/2025</span>
                    </div>

                    <div class="review-card">
                        <div class="reviewer-info">
                            <img
                                src="{% static 'images/Jewelry-Images/customers/images.jpg' %}"
                                alt="Customer"
                                class="reviewer-avatar">
                            <div class="reviewer-details">
                                <h4>Nguyễn Thị Hà</h4>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                        </div>
                        <p
                            class="review-text">"Chất lượng khỏi chê, giá thì siêu hợp lý! 😍 Nhân viên tư vấn siêu có tâm, chuyên nghiệp dữ luôn! 🔥✨"</p>
                        <span class="review-date">20/01/2025</span>
                    </div>

                    <div class="review-card">
                        <div class="reviewer-info">
                            <img
                                src="{% static 'images/Jewelry-Images/customers/silly.jpg' %}"
                                alt="Customer"
                                class="reviewer-avatar">
                            <div class="reviewer-details">
                                <h4>Lê Thu Thảo</h4>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <p
                            class="review-text">"Mua một lần mà mê luôn! Chất lượng khỏi bàn, thiết kế xịn sò, nhìn là muốn hốt ngay. 🛍️💖 Ai mà ghiền trang sức nhất định phải ghé thử nha!"</p>
                        <span class="review-date">15/02/2025</span>
                    </div>
                </div>
                <div id="gold-price-root"></div>
                <script type="module">
                    import GoldPriceChart from "{% static 'js/GoldPriceChart.js'%}";
                    GoldPriceChart(document.getElementById('gold-price-root'));
                  </script>
                </script>
                <div class="recent-activity">
                    <h2 class="section-title">Hoạt động gần đây</h2>
                    <div class="activity-item">
                        <div class="activity-icon">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div>
                            <h4>Đơn hàng mới #****</h4>
                            <p>30 phút trước</p>
                        </div>
                    </div>
                    <div class="activity-item">
                        <div class="activity-icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <div>
                            <h4>Khách hàng mới đăng ký</h4>
                            <p>1 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
            </main>
            <footer class="support-grid" id="support-section">
                <div class="support-info">
                    <h3 class="support-title">Liên hệ</h3>
                    <p class="support-stats">&#9679; Hotline: 1900-5959</p>
                    <p class="support-stats">&#9679; Email:
                        texwall4567.1@gmail.com</p>
                    <p class="support-stats">&#9679; 70 Đ. Tô Ký, Tân Chánh
                        Hiệp,
                        Quận 12, Hồ Chí Minh</p>
                </div>
                <div class="support-info">
                    <h3 class="support-title">Chính sách bảo hành</h3>
                    <p class="support-stats">&#9679; Bảo hành áp dụng cho lỗi kỹ
                        thuật từ nhà sản xuất</p>
                    <p class="support-stats">&#9679; Sản phẩm hư gì thì đổi
                        đó</p>
                    <p class="support-stats">&#9679; Chế độ hậu mãi đặc quyền
                        cho khách hàng</p>
                </div>
            </div>
        </footer>
    </body>
{% endblock %}